$color-primary-bg: #F3F2F1;
// Breakpoints:
$breakpoint-mobileToTablet-lower: 321px;
$breakpoint-mobileToTablet-upper: 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
$breakpoint-bigScreen: 1440px;